env:
    ACR_LOGIN_SERVER: m324demoacrqba.azurecr.io
jobs:
    build-docker:
        runs-on: ubuntu-latest
        environment: ACR
        steps:
            - name: Check out Git repository
              uses: actions/checkout@v4

            - name: Build Docker image
              run: docker build -t notes-backend -f ./apps/backend/Dockerfile ./apps/backend

            - name: Login ACR
              uses: azure/docker-login@v2
              with:
                  login-server: ${{ env.ACR_LOGIN_SERVER }}
                  username: ${{ secrets.ACR_USERNAME }}
                  password: ${{ secrets.ACR_PASSWORD }}


            - name: Push Docker image to ACR
              run: |
                  docker tag notes-backend-diogo:latest ${{ env.ACR_LOGIN_SERVER }}/notes-backend:latest
                  docker push ${{ env.ACR_LOGIN_SERVER }}/notes-backend-diogo:latest